// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Colors
// scss-docs-start color-variables
//$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
//$purple:  #6f42c1 !default;
//$pink:    #FF27F2 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
//$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

// custom colors
$blue:    #3D03B7 !default;
//$indigo:  $indigo;
$purple:  #9063CD !default;
$pink:    #FF27F2 !default;
//$red:     $red;
//$orange:  $orange;
//$yellow:  $yellow;
$green:   #00C395 !default;
//$teal:    $teal;
//$cyan:    $cyan;


$gray: #9E8DC1 !default;
$bg: #F8F5FF !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600:   $gray   !default; //#6c757d
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$black: #00001E !default;
$grd: rgba(255, 74, 244, 1), rgba(246, 76, 241, 1), rgba(221, 82, 232, 1), rgba(180, 91, 218, 1), rgba(144, 99, 205, 1), rgba(72, 147, 177, 1), rgba(38, 170, 164, 1), rgba(0, 195, 149, 1);

// Customize some defaults
$primary: $pink;
//$secondary: $pink;

// scss-docs-start theme-color-variables
//$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white,
  "thirdly":    $gray
) !default;
// scss-docs-end theme-colors-map


// Font
$font-family-sans-serif: 'Commissioner', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base: 1rem;
$font-weight-normal: 400;
//$line-height-base: 1.5 !default;

// Links
$link-decoration: none;

// Body
$body-color: $black;
$body-bg: $bg;
//$border-radius: .4rem;
//$success: #7952b3;

$container-padding-x: 3.75rem !default; // 60px (by 30px)

// scss-docs-start spacer-variables-maps
$spacer: 1.25rem !default; // 20px
$spacers: (
  0: 0,
  1: $spacer * .25, // 5px
  2: $spacer * .5,  // 10px
  3: $spacer * .75, // 15px 
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 3,
) !default;
// scss-docs-end spacer-variables-maps


// scss-docs-start border-radius-variables
$border-radius:               .625rem !default;
$border-radius-sm:            .5rem !default;
$border-radius-lg:            .75rem !default;
$border-radius-xl:            1rem !default;
$border-radius-xxl:           2rem !default;
$border-radius-pill:          50rem !default;
// scss-docs-end border-radius-variables
// fusv-disable
$border-radius-2xl:           $border-radius-xxl !default; // Deprecated in v5.3.0
// fusv-enable


$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         .75rem !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;

$input-btn-padding-y-lg:      1rem !default;
$input-btn-padding-x-lg:      1rem !default;


$btn-hover-bg-shade-amount:       25% !default;
$btn-hover-bg-tint-amount:        25% !default;
$btn-hover-border-shade-amount:   30% !default;
$btn-hover-border-tint-amount:    10% !default;
$btn-active-bg-shade-amount:      20% !default;
$btn-active-bg-tint-amount:       20% !default;
$btn-active-border-shade-amount:  25% !default;
$btn-active-border-tint-amount:   10% !default;


$border-color-translucent:    0 !default;

// Dropdown

$dropdown-border-width:             0 !default;
$dropdown-bg:                       $white !default;

//$dropdown-divider-bg:               $dropdown-border-color !default;
//$dropdown-divider-margin-y:         $spacer * .5 !default;
//$dropdown-box-shadow:               $box-shadow !default;

//$dropdown-link-color:               var(--#{$prefix}body-color) !default;
//$dropdown-link-hover-color:         $dropdown-link-color !default;
$dropdown-link-hover-bg:              $bg !default;

//$dropdown-link-active-color:        $component-active-color !default;
//$dropdown-link-active-bg:           $component-active-bg !default;

$dropdown-item-padding-y:           $spacer * .25 !default;
$dropdown-item-padding-x:           $spacer !default;

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1480px
) !default;
// scss-docs-end grid-breakpoints

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1460px
) !default;
// scss-docs-end container-max-widths

body {
  margin: 0;
  line-height: normal;
}

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Custom styles
//
// @import "icon-list";
@import "custom";

